<div class="container">
    <!-- Logo container-->
    <div>
        <a class="logo text-primary" href="index.html">Winzone<span class="text-primary">.</span>vn</a>
    </div>
    <div class="buy-button">
        <a href="about-me.html" target="_blank" class="btn btn-primary">Tác giả</a>
    </div><!--end login button-->
    <!-- End Logo container-->
    <div class="menu-extras">
        <div class="menu-item">
            <!-- Mobile menu toggle-->
            <a class="navbar-toggle">
                <div class="lines">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
            <!-- End mobile menu toggle-->
        </div>
    </div>

    <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="java.html">Java</a></li>
            <li class="has-submenu">
                <a href="javascript:void(0)">Spring</a><span class="menu-arrow"></span>
                <ul class="submenu">
                    <li><a href="spring-security.html">Spring Security</a></li>
                    <li><a href="spring-data-jpa.html">Spring Data JPA</a></li>
                    <li><a href="spring-restful.html">Spring Restful</a></li>
                </ul>
            </li>
        </ul><!--end navigation menu-->
    </div><!--end navigation-->
</div><!--end container-->
