<div class="row">
</div>


<script>
$(document).ready(function () {
    let searchParams = new URLSearchParams(window.location.search);
    const page = searchParams.get('page') ? Number(searchParams.get('page')) : 1;
    const searchKeyword = searchParams.get('q');
    const startIndex = (page - 1) * PAGE_SIZE;
    const endIndex = startIndex + PAGE_SIZE;

    // Get category
    const pathNameArray = window.location.pathname.split('/');
    const category = pathNameArray[pathNameArray.length - 1].replace('.html', '');
    let postList = POST_DATA.sort((a, b) => (a.order < b.order) ? 1 : -1);

    if (category && category !== 'index') {
        postList = postList.filter(p => p.category?.includes(category));
    }

    if (searchKeyword) {
        $('#search-keyword').val(searchKeyword);
        $('#search-result').show();
        $('#search-result .keyword').text(searchKeyword);
        postList = postList.filter(p => p.title.toLowerCase().indexOf(searchKeyword.toLowerCase()) !== -1
            || p.brief.toLowerCase().indexOf(searchKeyword.toLowerCase()) !== -1 || p.category?.includes(searchKeyword));
    } else {
        $('#search-result').hide();
    }
    const totalPage = Math.ceil(postList.length / PAGE_SIZE);

    $('#post-list-container .row').html('');

    postList.filter((e, idx) => idx >= startIndex && idx < endIndex)
        .forEach(function (item, index) {
            $('#post-list-container .row').append(`
            <div class="col-lg-6 col-md-6 mb-4 pb-2">
                <div class="card blog rounded shadow overflow-hidden">
                    <div class="position-relative">
                        <img src="${HOST_URL}/${item.image}" class="card-img-top" alt="...">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="card-body content">
                        <h5><a href="${HOST_URL}/${item.url}" class="card-title title text-dark">${item.title}</a></h5>
                        <p>${item.brief}</p>
                        <div class="post-meta d-flex justify-content-end mt-3">
                            <a href="${HOST_URL}/${item.url}" class="btn btn-outline-primary">Read more</a>
                        </div>
                    </div>
                    <div class="author">
                        <small class="text-light user d-block"><i class="mdi mdi-account"></i> ${item.author}</small>
                        <small class="text-light date"><i class="mdi mdi-calendar-check"></i> ${item.createDate} </small>
                    </div>
                </div>
            </div>
        `);
        });

    if (totalPage > 1) {
        let paginationHtml = `<div class="col-12"><ul class="pagination justify-content-center mb-0">`;
        if (page > 1) {
            paginationHtml += `<li class="page-item"><a style="border-radius: 0" class="page-link" href="?page=${page - 1}" aria-label="Previous">Prev</a></li>`;
        }
        for (let i = 1; i <= totalPage; i++) {
            paginationHtml += `<li class="page-item ${page === i ? 'active' : ''}">
                                    <a style="border-radius: 0" class="page-link" href="${page === i ? 'javascript:void(0)' : ('?page=' + i)}">${i}</a>
                               </li>`;
        }
        if (page < totalPage) {
            paginationHtml += `<li class="page-item"><a style="border-radius: 0" class="page-link" href="?page=${page + 1}" aria-label="Next">Next</a></li>`;
        }
        paginationHtml += '</ul></div>';

        $('#post-list-container .row').append(paginationHtml);
    }
});
</script>

<script>
    const PAGE_SIZE = 10;
    const POST_DATA = [
        {
            "id": 1,
            "title": "Những hiểu lầm phổ biến về GROUP BY trong SQL",
            "image": "images/blog/groupbyinsql.png",
            "brief": "GROUP BY là một trong những Clause được sử dụng thường xuyên khi chúng ta muốn nhóm dữ liệu và sử dụng với các aggregate function...",
            "content": "",
            "url": "post/nhung-hieu-lam-pho-bien-ve-group-by-trong-sql.html",
            "author": "Phuong Dang",
            "createDate": "03/Feb/2022",
            "category": ['sql'],
            "order": 1
        },
        {
            "id": 2,
            "title": "Series Spring Security + JWT cho REST API (Phần 01)",
            "image": "images/blog/spring_security.jpeg",
            "brief": "Trong series này chúng ta sẽ cùng nhau sử dụng spring security để xây dựng tính năng authentication và authorization cho một Java web application",
            "content": "",
            "url": "post/series-spring-security-jwt-for-rest-api-01.html",
            "author": "Phuong Dang",
            "createDate": "05/Mar/2022",
            "category": ['java', 'spring', 'spring-security'],
            "order": 2
        },
        {
            "id": 4,
            "title": "Series Spring Security + JWT cho REST API (Phần 02)",
            "image": "images/blog/spring_security.jpeg",
            "brief": "Trong <a href='post/series-spring-security-jwt-for-rest-api-02.html' target='_blank'>phần 1</a> chúng ta đã sử dụng spring security kết hợp JWT để xây dựng tính năng authentication. Trong phần này chúng ta tiếp tục áp dụng spring-security để thực hiện authorization.",
            "content": "",
            "url": "post/series-spring-security-jwt-for-rest-api-02.html",
            "author": "Phuong Dang",
            "createDate": "16/Mar/2022",
            "category": ['java', 'spring', 'spring-security'],
            "order": 2
        },
        {
            "id": 3,
            "title": "Gửi email với SendGrid service",
            "image": "images/blog/sg-twilio-lockup.svg",
            "brief": "Twilio SendGrid là một dịch vụ gửi mail rất phổ biến, cho phép gửi email free lên tới 40.000 emails trong 30 ngày đầu tiên và free 100 emails/ngày vĩnh viễn",
            "content": "",
            "url": "post/send-email-with-send-grid-service.html",
            "author": "Phuong Dang",
            "createDate": "11/Mar/2022",
            "category": ['java', 'java-utility', 'spring'],
            "order": 3
        },
        {
            "id": 5,
            "title": "Top những điều cần lưu ý khi tham gia phỏng vấn",
            "image": "images/blog/interview-tips.png",
            "brief": "Mình đã phỏng vấn hàng trăm ứng viên và cũng ở vị trí ứng viên rất nhiều lần. Từ những trải nghiệm đó mình sẽ tóm tắt lại thành những điểm cần lưu ý trong bài viết này.",
            "content": "",
            "url": "post/top-nhung-dieu-can-luu-y-khi-tham-gia-phong-van.html",
            "author": "Phuong Dang",
            "createDate": "20/Apr/2022",
            "category": ['other', 'softskill', 'soft-skills'],
            "order": 4
        },
        {
            "id": 6,
            "title": "Data Structures và Algorithms quan trọng như nào",
            "image": "images/blog/dsa.png",
            "brief": "Niklaus Wirth đã từng nói <b>\"Programs = Data Structures + Algorithms\"</b>, đây là 2 yếu tố được đánh giá quan trọng nhất trong lập trình. ",
            "content": "",
            "url": "post/introduction-data-structures-and-algorithims.html",
            "author": "Phuong Dang",
            "createDate": "22/Apr/2022",
            "category": ['data-structures-and-algorithms'],
            "order": 5
        },
        {
            "id": 7,
            "title": "Code hiệu quả hơn với Lambda Expression - Java 8",
            "image": "images/blog/winzone-lambda-expression-java8.png",
            "brief": "Chúng ta biết đến Java là một ngôn ngữ lập trình hướng đối tượng rất phổ biến. " +
                "Từ version 8, Java cung cấp thêm một cách thức viết code mang style funtional programing với lambda expression.",
            "content": "",
            "url": "post/lambda-expression-functional-interface-java-8.html",
            "author": "Phuong Dang",
            "createDate": "03/May/2022",
            "category": ['java', 'java-se', 'java8'],
            "order": 7
        },
        {
            "id": 8,
            "title": "Thao tác cơ bản với Git",
            "image": "images/blog/git-logo.png",
            "brief": "Làm việc với Git là skill chắc chắn phải có của tất cả các developers dù là FE hay BE. Bạn có thể tham khảo trên rất nhiều trang tuyển dụng IT sẽ thấy đây là một skill luôn luôn có của vị trí developer.",
            "content": "",
            "url": "post/git-basic-operator-01.html",
            "author": "Phuong Dang",
            "createDate": "01/May/2022",
            "category": ['git', 'other'],
            "order": 6
        },
        // {
        //     "id": 8,
        //     "title": "Code \"xịn\" hơn với Java Streams - Java 8",
        //     "image": "images/blog/winzone.vn-java-streams.png",
        //     "brief": "Khi tham gia vào dự án thực tế thì bạn sẽ thấy rằng không xử lý code được với Java Streams - Java 8 thì source code của mình nhìn sẽ \"quê\" thế nào.",
        //     "content": "",
        //     "url": "post/streams-java-8.html",
        //     "author": "Phuong Dang",
        //     "createDate": "04/May/2022",
        //     "category": ['java', 'java-se', 'java8'],
        //     "order": 7
        // },
        {
            "id": 9,
            "title": "Năm đầu tiên đi làm: \"nở hoa\" hay \"bế tắc\"?",
            "image": "images/blog/happy-unhappy.jpg",
            "brief": "Có bao giờ bạn tự nhìn lại chính mình sau một đầu tiên đi làm? Liệu bạn có nhận ra bản thân mình đã trưởng thành hơn rất nhiều trong cả chuyên môn lẫn cách mình tiếp cận, xử lý vấn đề. ",
            "content": "",
            "url": "post/nam-dau-tien-di-lam-no-hoa-hay-be-tac.html",
            "author": "Phuong Dang",
            "createDate": "31/Aug/2022",
            "category": ['other', 'softskill', 'soft-skills'],
            "order": 8
        },
        {
            "id": 10,
            "title": "Tạm biệt var…",
            "image": "images/blog/winzone.vn-goodbye-var.png",
            "brief": "Bạn sẽ trả lời thế nào khi gặp câu hỏi \"Dùng keyword nào để khai báo biến trong javascript?\". Tôi đã thử hỏi học viên của mình và nhiều câu trả lời là: <code>var</code>",
            "content": "",
            "url": "post/goodbye-var.html",
            "author": "Phuong Dang",
            "createDate": "02/Sep/2022",
            "category": ['javascript', 'fe', 'js'],
            "order": 9
        },
    ];

</script>
