<div class="row">
</div>

<script src="js/post-data.js"></script>
<script>
    let searchParams = new URLSearchParams(window.location.search);
    const page = searchParams.get('page') ? Number(searchParams.get('page')) : 1;
    const searchKeyword = searchParams.get('q');
    const totalPage = Math.ceil(POST_DATA.length / PAGE_SIZE);

    const startIndex = (page - 1) * PAGE_SIZE;
    const endIndex = startIndex + PAGE_SIZE;

    let postList = POST_DATA;
    if (searchKeyword) {
        $('#search-keyword').val(searchKeyword);
        $('#search-result').show();
        $('#search-result .keyword').text(searchKeyword);
        postList = POST_DATA.filter(p => p.title.toLowerCase().indexOf(searchKeyword.toLowerCase()) !== -1
            || p.brief.toLowerCase().indexOf(searchKeyword.toLowerCase()) !== -1);
    } else {
        $('#search-result').hide();
    }

    $('#post-list-container .row').html('');

    postList.filter((e, idx) => idx >= startIndex && idx < endIndex)
            .forEach(function (item, index) {
        $('#post-list-container .row').append(`
            <div class="col-lg-6 col-md-6 mb-4 pb-2">
                <div class="card blog rounded border-0 shadow overflow-hidden">
                    <div class="position-relative">
                        <img src="${item.image}" class="card-img-top" alt="...">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="card-body content">
                        <h5><a href="javascript:void(0)" class="card-title title text-dark">${item.title}</a></h5>
                        <p>${item.brief}</p>
                        <div class="post-meta d-flex justify-content-end mt-3">
                            <button class="btn btn-outline-primary">Đọc tiếp</button>
                        </div>
                    </div>
                    <div class="author">
                        <small class="text-light user d-block"><i class="mdi mdi-account"></i> ${item.author}</small>
                        <small class="text-light date"><i class="mdi mdi-calendar-check"></i> ${item.createDate} </small>
                    </div>
                </div>
            </div>
        `);
    });

    if (totalPage > 1) {
        let paginationHtml = `<div class="col-12"><ul class="pagination justify-content-center mb-0">`;
        if (page > 1) {
            paginationHtml += `<li class="page-item"><a style="border-radius: 0" class="page-link" href="?page=${page - 1}" aria-label="Previous">Prev</a></li>`;
        }
        for (let i = 1; i <= totalPage; i++) {
            paginationHtml += `<li class="page-item ${page === i ? 'active' : ''}">
                                    <a style="border-radius: 0" class="page-link" href="${page === i ? 'javascript:void(0)' : ('?page=' + i)}">${i}</a>
                               </li>`;
        }
        if (page < totalPage) {
            paginationHtml += `<li class="page-item"><a style="border-radius: 0" class="page-link" href="?page=${page + 1}" aria-label="Next">Next</a></li>`;
        }
        paginationHtml += '</ul></div>';

        $('#post-list-container .row').append(paginationHtml);
    }
</script>
