<div class="row">
</div>


<script>
$(document).ready(function () {
    let searchParams = new URLSearchParams(window.location.search);
    const page = searchParams.get('page') ? Number(searchParams.get('page')) : 1;
    const searchKeyword = searchParams.get('q');
    const startIndex = (page - 1) * PAGE_SIZE;
    const endIndex = startIndex + PAGE_SIZE;

    // Get category
    const pathNameArray = window.location.pathname.split('/');
    const category = pathNameArray[pathNameArray.length - 1].replace('.html', '');
    let postList = POST_DATA;
    if (category && category !== 'index') {
        postList = postList.filter(p => p.category?.includes(category));
    }
    if (searchKeyword) {
        $('#search-keyword').val(searchKeyword);
        $('#search-result').show();
        $('#search-result .keyword').text(searchKeyword);
        postList = postList.filter(p => p.title.toLowerCase().indexOf(searchKeyword.toLowerCase()) !== -1
            || p.brief.toLowerCase().indexOf(searchKeyword.toLowerCase()) !== -1);
    } else {
        $('#search-result').hide();
    }

    const totalPage = Math.ceil(postList.length / PAGE_SIZE);

    $('#post-list-container .row').html('');

    postList.filter((e, idx) => idx >= startIndex && idx < endIndex)
        .forEach(function (item, index) {
            $('#post-list-container .row').append(`
            <div class="col-lg-6 col-md-6 mb-4 pb-2">
                <div class="card blog rounded shadow overflow-hidden">
                    <div class="position-relative">
                        <img src="${HOST_URL}/${item.image}" class="card-img-top" alt="...">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="card-body content">
                        <h5><a href="${HOST_URL}/${item.url}" class="card-title title text-dark">${item.title}</a></h5>
                        <p>${item.brief}</p>
                        <div class="post-meta d-flex justify-content-end mt-3">
                            <a href="${HOST_URL}/${item.url}" class="btn btn-outline-primary">Đọc tiếp</a>
                        </div>
                    </div>
                    <div class="author">
                        <small class="text-light user d-block"><i class="mdi mdi-account"></i> ${item.author}</small>
                        <small class="text-light date"><i class="mdi mdi-calendar-check"></i> ${item.createDate} </small>
                    </div>
                </div>
            </div>
        `);
        });

    if (totalPage > 1) {
        let paginationHtml = `<div class="col-12"><ul class="pagination justify-content-center mb-0">`;
        if (page > 1) {
            paginationHtml += `<li class="page-item"><a style="border-radius: 0" class="page-link" href="?page=${page - 1}" aria-label="Previous">Prev</a></li>`;
        }
        for (let i = 1; i <= totalPage; i++) {
            paginationHtml += `<li class="page-item ${page === i ? 'active' : ''}">
                                    <a style="border-radius: 0" class="page-link" href="${page === i ? 'javascript:void(0)' : ('?page=' + i)}">${i}</a>
                               </li>`;
        }
        if (page < totalPage) {
            paginationHtml += `<li class="page-item"><a style="border-radius: 0" class="page-link" href="?page=${page + 1}" aria-label="Next">Next</a></li>`;
        }
        paginationHtml += '</ul></div>';

        $('#post-list-container .row').append(paginationHtml);
    }
});
</script>

<script>
    const PAGE_SIZE = 10;
    const POST_DATA = [
        {
            "id": 1,
            "title": "Những hiểu lầm phổ biến về GROUP BY trong SQL",
            "image": "images/blog/groupbyinsql.png",
            "brief": "GROUP BY là một trong những Clause được sử dụng thường xuyên khi chúng ta muốn nhóm dữ liệu và sử dụng với các aggregate function...",
            "content": "",
            "url": "post/nhung-hieu-lam-pho-bien-ve-group-by-trong-sql.html",
            "author": "Phuong Dang",
            "createDate": "03/Feb/2022",
            "category": ['sql']
        },
        {
            "id": 2,
            "title": "Series Spring Security + JWT cho REST API (Phần 01)",
            "image": "images/blog/spring_security.jpeg",
            "brief": "Trong series này chúng ta sẽ cùng nhau sử dụng spring security để xây dựng tính năng authentication và authorization cho một Java web application",
            "content": "",
            "url": "post/series-spring-security-jwt-for-rest-api-01.html",
            "author": "Phuong Dang",
            "createDate": "05/Mar/2022",
            "category": ['java', 'spring', 'spring-security']
        }
    ];

</script>
